<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>{{answer.author}}</h4>
  </div>
  <div class="panel-body">
    <div class="vote">
      <a href="#"></a>
    </div>
    <h6>{{answer.upCount}}</h6>
    <h6>{{answer.downCount}}</h6>
    <p>{{answer.details}}</p>
  </div>
  <!-- <div class="panel-footer">
  </div> -->
</div>
